
<div class="center-block">
	<div class="container">
		<div class="row custon-centered custon-width-box text-center">
			<div class="col-md-12">
				<nav class="site-header sticky-top py-1">
			      <div class="container d-flex flex-column flex-md-row justify-content-between">
		      		<a class="py-2 d-none d-md-inline-block" href="#"></a>
			      	<a class="py-2 d-none d-md-inline-block" href="#"></a>
			        <a class="py-2 d-none d-md-inline-block" th:href="@{/user/new}">Novo usuário</a>
			        <a class="py-2 d-none d-md-inline-block" th:href="@{/user/all}">Listar usuários</a>
			        <a class="py-2 d-none d-md-inline-block" href="#"></a>
			        <a class="py-2 d-none d-md-inline-block" href="#"></a>
			      </div>
			    </nav>
			</div>
		</div>
	</div>
</div>
<br >