@charset "UTF-8";

.custon-form-div {
	width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 3px 5px 50px 3px;
    box-shadow: 1px 4px 10px;
}

.custon-centered{
	margin-left: auto;
    margin-right: auto;
}

.custon-width-box{
	width: 700px;
}
