<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista usuários</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
    
    <script th:src="@{/js/jquery/jquery-3.3.1.slim.min.js}" ></script>
    <script th:src="@{/js/popper/popper.min.js}" ></script>
    <script th:src="@{/js/bootstrap/bootstrap.js}" ></script>
</head>
<body>
	<br >
	<div class="center-block">
		
		<div class="container">
			<div th:if="${usuarios != null}">
			    <table th:object="${usuarios}" id="userTable" class="table table-dark">
			    	<thead>
				    	<tr>
			    			<th scope="col">ID</th>
			    			<th scope="col">NOME</th>
			    			<th scope="col">EMAIL</th>
				    	</tr>
			    	</thead>
			    	<tbody>
					    <tr th:each="user :${usuarios}">
					        <td scope="row" th:text="${user.id}"></td>
					        <td  th:text="${user.name}"></td>
					        <td  th:text="${user.email}"></td>
					    </tr>
			    	</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>