<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista usuários</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/custon.css}" rel="stylesheet" />
    
    <script th:src="@{/js/jquery/jquery-3.3.1.slim.min.js}" ></script>
    <script th:src="@{/js/popper/popper.min.js}" ></script>
    <script th:src="@{/js/bootstrap/bootstrap.js}" ></script>
</head>
<body>
	<br >
	<div class="center-block">
		<div class="container">
			<p th:include="fragments/menu"></p>
			<br >
			<div class="row text-center">
				<div class="col-md-12">
					<h4>Lista de usuários</h4>
				</div>
			</div>
			<br >
			<br >
			<p th:text="${message}"></p>
			<br >
			<div class="row custon-centered custon-width-box">
				<div class="col-md-12">
					<div th:if="${usuarios != null}">
					    <table th:object="${usuarios}" id="userTable" class="table table-striped">
					    	<thead>
						    	<tr>
						    		<th scope="col">Ação</th>
					    			<th scope="col">Id</th>
					    			<th scope="col">Nome</th>
					    			<th scope="col">Email</th>
						    	</tr>
					    	</thead>
					    	<tbody>
							    <tr th:each="user :${usuarios}">
							    	<td><a th:href="@{'/user/remove/'+${user.id}}"> Remover</a></td>
							        <td scope="row" th:text="${user.id}"></td>
							        <td  th:text="${user.name}"></td>
							        <td  th:text="${user.email}"></td>
							    </tr>
					    	</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>